/* Tooltip */
.tooltip .tooltip-inner {
    background: black;
    color: lime;
    border: 2px solid lime;
  }
  .tooltip .arrow {
    width: 11px!important;
    height: 11px!important;
    border: 2px solid lime;
    bottom: 1px;
  }
  .tooltip .arrow:before {
    width: 11px;
    height: 11px;
    background: black;
    border: 0;
  }
  .tooltip.bs-tooltip-top .arrow {
    transform: rotate(-135deg);
  }
  .tooltip.bs-tooltip-bottom .arrow {
    transform: rotate(135deg);
    top: 2px;
  }
  /* Dropyify */
  .dropify-wrapper .dropify-message p {
    font-size: initial;
  }
  /* Datatable */
  .dataTables_empty {
    color: red !important;
  }

  .dropify-wrapper .dropify-message p {
    font-size: initial;
  }
  /* Ajax */
  .centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: -webkit-translate(-50%, -50%);
    transform: -moz-translate(-50%, -50%);
    transform: -ms-translate(-50%, -50%);
    color: darkred;
    z-index: 100;
    visibility: hidden;
  }
.empty-cart{
    margin-bottom: 30px;padding: 0px 20px;margin-left: 15px;color: #242424; font-size: 18px;  font-weight: 700;
}

.app-brand-link img{max-width: 70px;}

.baar {
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
}
.bg-navbar-theme {
    color: #000;
  }

  .payment-method{width: 1.2em;height: 1.2em;}
  .table-shipping-block-section{font-weight: 700;
    text-transform: uppercase;padding-bottom: 20px;}
.ship{color:#8A8A8A;}
.ship span{color:#242424;}
.add-cart-box {
    text-align: left;

  }

  .search-btn-group-student ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .search-btn-group-student ul li {
    list-style: none;
  }
  .btn-secondary2 {
    display: inline-block;
    color: #FF662C;
    background-color: transparent;
    font-size: 15px;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    padding: 0 40px;
    border: 1px solid #FF662C;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    line-height: 50px;
    min-height: 50px;
  }

  .flatpickr-input {background: #fff !important;}
  .add-user-register-box {
    margin-bottom: 25px;
    text-align: right;
  }
  .btn-secondary-small {
    display: inline-block;
    color: #FF662C;
    background-color: transparent;
    font-size: 13px;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    padding: 0 30px;
    border: 1px solid #FF662C;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    line-height: 40px;
    min-height: 40px;
  }

  .group-pro{min-width: 130px;padding: 0; }